{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Activity Info</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
  </head>
  <body>
    <div class="header-with-link">
      <h1>Create a New Activity</h1>
      <div class="right-links">
      <a href="{% url 'index' %}">Back to Activities</a>
      </div>
    </div>
    {% block content %}
      <form method="post">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" name="name" required>
        <button type="submit">Create</button>
      </form>
    {% endblock %}
  </body>
</html>
